<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../titleView/title', { title }) %>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- dont show an error if user not logged in -->
    <% if (currentUser) {%>
    <script src="js/script.js" defer></script>
    <% } %>
  </head>
  <body>
    <div class="main_content">
      <header>
        <div class="main_header">
          <div class="head_content">
            <div class="logos">
              <h1><%= logos %></h1>
            </div>
            <% if (currentUser) { %>

            <div class="log_out"><%- include('../logOutView/logOut') %></div>
            <% } %>
          </div>
        </div>
      </header>

      <% if (currentUser) { %> <%-
      include('../folderUpdateDialogView/folderActDialog', { folderError }) %>

      <main class="main_main">
        <!-- a sign up form for ya  -->

        <div class="main_container">
          <div class="user_content">
            <!-- greet logged user -->
            <%- include('../greetView/greet') %>
            <!-- log out user -->

            <!-- create folder form -->
            <%- include('../createFolderView/createFolder') %>

            <!-- this views the folder files -->
            <%- include('../readFolderView/readFolder') %>
            <!--  -->
          </div>
        </div>
        <% } else { %>

        <ul>
          <!-- show user error when creating an account -->
          <% errors.map((error) => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <%- include('../signUpView/signUp') %> <% } %>
      </main>
    </div>
  </body>
</html>
