<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../titleView/title', { title }) %>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- dont show an error if user not logged in -->
    <% if (currentUser) {%>
    <script src="js/script.js" defer></script>
    <% } %>
  </head>
  <body>
    <div class="main_content">
      <header>
        <div class="main_header">
          <div class="logos">
            <h1><%= logos %></h1>
          </div>
        </div>
      </header>

      <%- include('../folderUpdateDialogView/folderActDialog', { folderError })
      %>

      <main class="main_main">
        <!-- a sign up form for ya  -->
        <% if (currentUser) { %>

        <div class="main_container">
          <div class="add_folder_or_file">
            <button class="add_folder">Add Folder</button>
          </div>

          <div class="user_content">
            <!-- greet logged user -->
            <%- include('../greetView/greet') %>
            <!-- log out user -->

            <!-- create folder form -->
            <%- include('../createFolderView/createFolder') %>

            <!-- this views the folder files -->
            <%- include('../readFolderView/readFolder') %>
            <!--  -->
          </div>
        </div>
        <% } else { %>

        <ul>
          <!-- show user error when creating an account -->
          <% errors.map((error) => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <%- include('../signUpView/signUp') %> <% } %>
      </main>
    </div>
  </body>
</html>
